<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/wwelcomelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wwelcomelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasjidHub"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.AdminTampilkanNeracaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.TampilkanNeracaSearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.TampilkanNeracaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.InputNeracaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.GantiPasswordDkmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.GantiPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.InformasiKasAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.InformasiKasSearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.InformasiKasDkmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.UploadDataInfaq"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminUploadCarousel"
            android:exported="true" />
        <activity
            android:name=".ui.view.VerifikasiMasjidActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminLaporanKeuangan"
            android:exported="true" />
        <activity
            android:name=".ui.view.LaporanKeuanganDkmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.LaporanKeuanganActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.Filter"
            android:exported="true" />
        <activity
            android:name=".ui.view.MapsUbahProfilActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.MapsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.KasMingguanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminJamaahTerdaftar"
            android:exported="true" />
        <activity
            android:name=".ui.view.JamaahTerdaftar"
            android:exported="true" />
        <activity
            android:name=".ui.view.ProfileSearchAdmin"
            android:exported="true" />
        <activity
            android:name=".ui.view.ProfileSearchActivity"
            android:exported="true" />

        <activity
            android:name=".ui.view.AdminVerifActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.PengisianKasActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="molly-hot-lioness.ngrok-free.app"
                    android:pathPrefix="/payment"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.NotificationDkmActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="molly-hot-lioness.ngrok-free.app"
                    android:pathPrefix="/payment/error"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.PengajuanDanaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminInfaqActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.InfaqActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.FullScreenImageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminPermohonan"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminEvent"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminListMasjid"
            android:exported="true" />
        <activity
            android:name=".ui.view.UbahProfilDkm"
            android:exported="true" />
        <activity
            android:name=".ui.view.ProfilDkmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.EventActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.UbahProfil"
            android:exported="true" />
        <activity
            android:name=".ui.view.DkmDashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="molly-hot-lioness.ngrok-free.app"
                    android:pathPrefix="/payment/unfinish"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.UnggahActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.AdminDashboard"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-WYRtwI_zR34ick-8tCz8aYcVwL-nQ_k" />
        <meta-data
            android:name="com.midtrans.sdk.corekit.API_BASE_URL"
            android:value="https://api.sandbox.midtrans.com" />
        <meta-data
            android:name="com.midtrans.sdk.corekit.CLIENT_KEY"
            android:value="SB-Mid-client-4dgiBpGWaRHQR25r" />
        <meta-data
            android:name="com.midtrans.sdk.corekit.MERCHANT_ID"
            android:value="G981359004" />

        <activity
            android:name=".ui.view.ProfilActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.CariMasjidActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.KonfirmasiActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.RegisterDkmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.RegistActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>