<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasjidHub"
        tools:targetApi="31">
        <activity
            android:name=".AdminInfaqActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".InfaqActivity"
            android:exported="true" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="true" />
        <activity
            android:name=".DkmKeuangan"
            android:exported="true" />
        <activity
            android:name=".AdminKeuangan"
            android:exported="true" />
        <activity
            android:name=".AdminIsiPermohonan"
            android:exported="true" />
        <activity
            android:name=".AdminPermohonan"
            android:exported="true" />
        <activity
            android:name=".AdminEvent"
            android:exported="true" />
        <activity
            android:name=".AdminListMasjid"
            android:exported="true" />
        <activity
            android:name=".UbahProfilDkm"
            android:exported="true" />
        <activity
            android:name=".ProfilDkmActivity"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name=".UbahProfil"
            android:exported="true" />
        <activity
            android:name=".DkmDashboard"
            android:exported="true" />
        <activity
            android:name=".UnggahActivity"
            android:exported="true" />
        <activity
            android:name=".PermohonanActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-WYRtwI_zR34ick-8tCz8aYcVwL-nQ_k" />

        <activity
            android:name=".ProfilActivity"
            android:exported="true" />
        <activity
            android:name=".KeuanganActivity"
            android:exported="true" />
        <activity
            android:name=".CariMasjidActivity"
            android:exported="true" />
        <activity
            android:name=".KonfirmasiActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterDkmActivity"
            android:exported="true" />
        <activity
            android:name=".RegistActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>